#sidebar{
    position: fixed;
    width: 19.7vh;
    height: 25%;
    background: #151719;
    right: -200px;
    transition: all 500ms linear;
    opacity: 0.9;
    background-blend-mode: color-burn;
    z-index: 2;
   }
   #sidebar.active{
    right:0px;
   }
   #sidebar ul li{
    cursor: pointer;
    color: rgba(230,230,230,0.9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
    opacity: 1;
   }
   #sidebar .hamburger{
    position: absolute;
    right: 500px;
    top: 65px;
   }
   #sidebar .hamburger span{
    cursor: pointer;
    display: block;
    width: 60px;
    height: 10px;
    background: #d8cd91;
    margin: 10px 0px;
 
   }
